## import library

In [1]:
import pandas as pd

## import dataset

In [2]:
#dataset from project web scrapping 
df=pd.read_csv('houses_1.csv')

In [3]:
df.head()

,location,type,subtype,price,room_number,area,kitchen_equipped,furnished,fireplace,terrace,terrace_area,garden,garden_area,land_surface,facade_count,swimming_pool,building_condition
0,6800,HOUSE,HOUSE,295000.0,5,460.0,1,0,0,1,10.0,0,NaN,321.0,2.0,0,TO_BE_DONE_UP
1,7800,HOUSE,HOUSE,230000.0,4,128.0,0,0,0,0,NaN,0,NaN,570.0,4.0,0,NaN
2,8760,HOUSE,HOUSE,145000.0,6,NaN,0,0,0,0,NaN,1,NaN,233.0,NaN,0,TO_RENOVATE
3,6044,HOUSE,HOUSE,130000.0,2,110.0,1,1,0,1,NaN,1,300.0,470.0,3.0,0,TO_BE_DONE_UP
4,4970,HOUSE,HOUSE,450000.0,9,400.0,1,0,0,0,NaN,1,1300.0,1500.0,4.0,0,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18250 entries, 0 to 18249
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   location            18250 non-null  int64
 1   type                18250 non-null  object
 2   subtype             18250 non-null  object
 3   price               18246 non-null  float64
 4   room_number         18250 non-null  int64
 5   area                16384 non-null  float64
 6   kitchen_equipped    18250 non-null  int64
 7   furnished           18250 non-null  int64
 8   fireplace           18250 non-null  int64
 9   terrace             18250 non-null  int64
 10  terrace_area        7956 non-null   float64
 11  garden              18250 non-null  int64
 12  garden_area         3728 non-null   float64
 13  land_surface        9560 non-null   float64
 14  facade_count        12550 non-null  float64
 15  swimming_pool       18250 non-null  int64
 16  building_condition  13904 non-null  object
dtypes: float64(6), int64(8), object(3)
memory usage: 2.2+ MB

In [5]:
df.shape

(18250, 17)

In [6]:
df.columns

Index(['location', 'type', 'subtype', 'price', 'room_number', 'area',
       'kitchen_equipped', 'furnished', 'fireplace', 'terrace', 'terrace_area',
       'garden', 'garden_area', 'land_surface', 'facade_count',
       'swimming_pool', 'building_condition'],
      dtype='object')

In [7]:
df.dtypes

location                int64
type                   object
subtype                object
price                 float64
room_number             int64
area                  float64
kitchen_equipped        int64
furnished               int64
fireplace               int64
terrace                 int64
terrace_area          float64
garden                  int64
garden_area           float64
land_surface          float64
facade_count          float64
swimming_pool           int64
building_condition     object
dtype: object

### not value

In [8]:
df.isna().sum()

location                  0
type                      0
subtype                   0
price                     4
room_number               0
area                   1866
kitchen_equipped          0
furnished                 0
fireplace                 0
terrace                   0
terrace_area          10294
garden                    0
garden_area           14522
land_surface           8690
facade_count           5700
swimming_pool             0
building_condition     4346
dtype: int64

In [9]:
df.price.sort_values()

14113       1000.0
2048        5000.0
7260       10000.0
9743       10000.0
12988      15000.0
           ...
13555    9999999.0
647            NaN
983            NaN
3300           NaN
7177           NaN
Name: price, Length: 18250, dtype: float64

In [10]:
#drop rows with not value for price 
df=df.drop(df.index[[647,983,3300,7177]])

In [11]:
df.shape

(18246, 17)

In [12]:
df.isna().sum()

location                  0
type                      0
subtype                   0
price                     0
room_number               0
area                   1863
kitchen_equipped          0
furnished                 0
fireplace                 0
terrace                   0
terrace_area          10290
garden                    0
garden_area           14519
land_surface           8690
facade_count           5700
swimming_pool             0
building_condition     4345
dtype: int64

In [13]:
#replace all NaN with 'None'

df=df.fillna('None')
df

,location,type,subtype,price,room_number,area,kitchen_equipped,furnished,fireplace,terrace,terrace_area,garden,garden_area,land_surface,facade_count,swimming_pool,building_condition
0,6800,HOUSE,HOUSE,295000.0,5,460.0,1,0,0,1,10.0,0,None,321.0,2.0,0,TO_BE_DONE_UP
1,7800,HOUSE,HOUSE,230000.0,4,128.0,0,0,0,0,None,0,None,570.0,4.0,0,None
2,8760,HOUSE,HOUSE,145000.0,6,None,0,0,0,0,None,1,None,233.0,None,0,TO_RENOVATE
3,6044,HOUSE,HOUSE,130000.0,2,110.0,1,1,0,1,None,1,300.0,470.0,3.0,0,TO_BE_DONE_UP
4,4970,HOUSE,HOUSE,450000.0,9,400.0,1,0,0,0,None,1,1300.0,1500.0,4.0,0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18245,8300,HOUSE,HOUSE,1495000.0,4,None,0,0,0,1,None,1,None,813.0,None,0,None
18246,2140,HOUSE,HOUSE,435000.0,4,200.0,1,0,0,1,15.0,1,120.0,248.0,2.0,0,AS_NEW
18247,4367,HOUSE,VILLA,375000.0,3,117.0,1,0,0,1,25.0,1,891.0,1002.0,4.0,0,GOOD
18248,8210,HOUSE,VILLA,435000.0,4,282.0,1,0,1,1,None,1,None,989.0,None,0,None
18249,1480,HOUSE,HOUSE,450000.0,4,180.0,1,0,1,1,None,0,None,1389.0,4.0,0,GOOD

## cleaning different columns

### price

In [14]:
df.price.value_counts()

295000.0    240
249000.0    239
299000.0    237
275000.0    209
225000.0    197
           ...
499185.0      1
154500.0      1
436050.0      1
584750.0      1
283700.0      1
Name: price, Length: 1948, dtype: int64

In [15]:
df.price.isna().sum()

0

In [16]:
df.price.dtype

dtype('float64')

In [17]:
df.price.sort_values(ascending=True)

14113       1000.0
2048        5000.0
7260       10000.0
9743       10000.0
12988      15000.0
           ...
8210     9500000.0
15492    9500000.0
7773     9500000.0
14495    9500000.0
13555    9999999.0
Name: price, Length: 18246, dtype: float64

In [18]:
df=df[df.price>50000]

In [19]:
df.price=df.price.astype(int)

C:\Users\atefe\anaconda3\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [20]:
df

,location,type,subtype,price,room_number,area,kitchen_equipped,furnished,fireplace,terrace,terrace_area,garden,garden_area,land_surface,facade_count,swimming_pool,building_condition
0,6800,HOUSE,HOUSE,295000,5,460.0,1,0,0,1,10.0,0,None,321.0,2.0,0,TO_BE_DONE_UP
1,7800,HOUSE,HOUSE,230000,4,128.0,0,0,0,0,None,0,None,570.0,4.0,0,None
2,8760,HOUSE,HOUSE,145000,6,None,0,0,0,0,None,1,None,233.0,None,0,TO_RENOVATE
3,6044,HOUSE,HOUSE,130000,2,110.0,1,1,0,1,None,1,300.0,470.0,3.0,0,TO_BE_DONE_UP
4,4970,HOUSE,HOUSE,450000,9,400.0,1,0,0,0,None,1,1300.0,1500.0,4.0,0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18245,8300,HOUSE,HOUSE,1495000,4,None,0,0,0,1,None,1,None,813.0,None,0,None
18246,2140,HOUSE,HOUSE,435000,4,200.0,1,0,0,1,15.0,1,120.0,248.0,2.0,0,AS_NEW
18247,4367,HOUSE,VILLA,375000,3,117.0,1,0,0,1,25.0,1,891.0,1002.0,4.0,0,GOOD
18248,8210,HOUSE,VILLA,435000,4,282.0,1,0,1,1,None,1,None,989.0,None,0,None
18249,1480,HOUSE,HOUSE,450000,4,180.0,1,0,1,1,None,0,None,1389.0,4.0,0,GOOD

In [21]:
df.price.describe()

count    1.815800e+04
mean     4.643076e+05
std      5.446284e+05
min      5.250000e+04
25%      2.250000e+05
50%      3.100000e+05
75%      4.767500e+05
max      9.999999e+06
Name: price, dtype: float64

## type and sub-type op property , room_number, area

In [22]:
df.type.value_counts()

HOUSE        9486
APARTMENT    8672
Name: type, dtype: int64

In [23]:
df.type.dtype

dtype('O')

In [24]:
df.subtype.value_counts()

HOUSE                   6774
APARTMENT               6543
VILLA                   1074
PENTHOUSE                553
DUPLEX                   534
GROUND_FLOOR             471
APARTMENT_BLOCK          391
MIXED_USE_BUILDING       365
EXCEPTIONAL_PROPERTY     270
FLAT_STUDIO              265
MANSION                  201
SERVICE_FLAT             130
LOFT                     121
TOWN_HOUSE               116
COUNTRY_COTTAGE          106
BUNGALOW                  77
FARMHOUSE                 42
TRIPLEX                   40
MANOR_HOUSE               22
CASTLE                    21
OTHER_PROPERTY            18
KOT                       15
CHALET                     9
Name: subtype, dtype: int64

In [25]:
# drope APARTMENT_BLOCK
df=df[df['subtype']!='APARTMENT_BLOCK']
df.subtype.value_counts()

HOUSE                   6774
APARTMENT               6543
VILLA                   1074
PENTHOUSE                553
DUPLEX                   534
GROUND_FLOOR             471
MIXED_USE_BUILDING       365
EXCEPTIONAL_PROPERTY     270
FLAT_STUDIO              265
MANSION                  201
SERVICE_FLAT             130
LOFT                     121
TOWN_HOUSE               116
COUNTRY_COTTAGE          106
BUNGALOW                  77
FARMHOUSE                 42
TRIPLEX                   40
MANOR_HOUSE               22
CASTLE                    21
OTHER_PROPERTY            18
KOT                       15
CHALET                     9
Name: subtype, dtype: int64

In [26]:
df.shape

(17767, 17)

In [27]:
df.room_number.value_counts()

2      5667
3      5633
4      2517
1      1792
5      1052
6       446
0       281
7       164
8        92
10       41
9        39
12        8
11        8
20        5
15        4
18        3
204       3
16        2
41        2
13        2
14        2
50        1
17        1
30        1
22        1
Name: room_number, dtype: int64

In [28]:
# drop the type with more than 20 rooms
df = df[(df['room_number'] < 20)]
df.shape

(17754, 17)

In [29]:
df.room_number.value_counts()

2     5667
3     5633
4     2517
1     1792
5     1052
6      446
0      281
7      164
8       92
10      41
9       39
11       8
12       8
15       4
18       3
16       2
13       2
14       2
17       1
Name: room_number, dtype: int64

In [30]:
df.area.value_counts()

None      1785
100.0      319
120.0      290
90.0       285
110.0      260
          ...
602.0        1
604.0        1
607.0        1
609.0        1
2000.0       1
Name: area, Length: 649, dtype: int64

In [31]:
percentage_None=round(((df.area.value_counts()[0])/(df.shape[0]))*100)
percentage_None

10

area is an important variable, so we drop the None values.

In [32]:

df = df[(df['area'] != 'None')]

In [33]:
df.shape

(15969, 17)

In [34]:
df['area'] = df['area'].astype(int)

In [35]:
df.area.sort_values()

11278       5
9573       15
17744      15
2684       15
2279       16
         ...
2300     2280
2208     2280
10588    2341
12350    3800
9306     4709
Name: area, Length: 15969, dtype: int32

### Kitchen_equipped , fireplace

In [36]:
df.kitchen_equipped.value_counts()

1    12442
0     3527
Name: kitchen_equipped, dtype: int64

In [37]:
df.kitchen_equipped.dtype

dtype('int64')

In [38]:
df.fireplace.value_counts()

0    15096
1      873
Name: fireplace, dtype: int64

In [39]:
df.fireplace.dtype

dtype('int64')

#### terrace , terrace_area  and None values

In [40]:
df.terrace.value_counts()

1    11137
0     4832
Name: terrace, dtype: int64

In [41]:
df.terrace.dtype

dtype('int64')

In [42]:
df.terrace_area.value_counts()

None      8386
10.0       452
20.0       447
15.0       364
12.0       314
          ...
152.0        1
158.0        1
190.0        1
197.0        1
1383.0       1
Name: terrace_area, Length: 177, dtype: int64

In [43]:
percentage_None=round(((df.terrace_area.value_counts()[0])/(df.shape[0]))*100)
percentage_None

53

In [44]:
df.terrace_area.dtype

dtype('O')

#### garden and garden_area and None values

In [45]:
df.garden.value_counts()

0    10508
1     5461
Name: garden, dtype: int64

In [46]:
df.garden.dtype

dtype('int64')

In [47]:
df.garden_area.value_counts()

None      12502
100.0       108
50.0         87
150.0        83
200.0        75
          ...
681.0         1
677.0         1
142.0         1
2716.0        1
474.0         1
Name: garden_area, Length: 784, dtype: int64

In [48]:
percentage_None=round(((df.garden_area.value_counts()[0])/(df.shape[0]))*100)
percentage_None

78

In [49]:
df.garden_area.dtype

dtype('O')

### land_surface, facade_count, swiming_pool, building_condition

In [50]:
df.land_surface.value_counts()

None       8061
0.0         562
150.0        56
100.0        52
300.0        52
           ...
732.0         1
21780.0       1
728.0         1
7925.0        1
12284.0       1
Name: land_surface, Length: 2032, dtype: int64

In [51]:
percentage_None=round(((df.land_surface.value_counts()[0])/(df.shape[0]))*100)
percentage_None

50

In [52]:
df.land_surface.dtype

dtype('O')

In [53]:
df['land_surface'] = df['land_surface'].replace({"None":0})

In [54]:
df.land_surface.value_counts()

0.0       8623
150.0       56
100.0       52
300.0       52
120.0       49
          ...
828.0        1
1991.0       1
1708.0       1
3100.0       1
7357.0       1
Name: land_surface, Length: 2031, dtype: int64

In [55]:
df.land_surface.dtype

dtype('float64')

In [56]:
df.land_surface.astype(int)

0         321
1         570
3         470
4        1500
5         460
         ...
18244     820
18246     248
18247    1002
18248     989
18249    1389
Name: land_surface, Length: 15969, dtype: int32

In [57]:
df.facade_count.value_counts()

2.0     5460
None    4910
4.0     2970
3.0     2545
1.0       76
6.0        4
5.0        1
7.0        1
16.0       1
30.0       1
Name: facade_count, dtype: int64

In [58]:
percentage_None=round(((df.facade_count.value_counts()[1])/(df.shape[0]))*100)
percentage_None

31

In [59]:
df.facade_count.dtype

dtype('O')

In [60]:
# Replace 'None' by O
df['facade_count'] = df['facade_count'].replace({"None": 0}).astype(int)

In [61]:
# Drop theproperties with more than 4 facades
df = df[(df['facade_count'] != 7)]
df = df[(df['facade_count'] != 16)]
df = df[(df['facade_count'] != 30)]
df = df[(df['facade_count'] != 6)]
df = df[(df['facade_count'] != 5)]

In [62]:
df.facade_count.value_counts()

2    5460
0    4910
4    2970
3    2545
1      76
Name: facade_count, dtype: int64

In [63]:
df.swimming_pool.value_counts()

0    15480
1      481
Name: swimming_pool, dtype: int64

In [64]:
df.swimming_pool.dtype

dtype('int64')

In [65]:
df.building_condition.value_counts()

AS_NEW            5458
GOOD              4044
None              3536
TO_BE_DONE_UP     1052
TO_RENOVATE        994
JUST_RENOVATED     840
TO_RESTORE          37
Name: building_condition, dtype: int64

In [66]:
percentage_None=round(((df.building_condition.value_counts()[2])/(df.shape[0]))*100)
percentage_None

22

In [67]:
df.building_condition.dtype

dtype('O')

In [68]:

df['building_condition'] = df['building_condition'].replace({"None": "No_information"})
df.building_condition.value_counts()

AS_NEW            5458
GOOD              4044
No_information    3536
TO_BE_DONE_UP     1052
TO_RENOVATE        994
JUST_RENOVATED     840
TO_RESTORE          37
Name: building_condition, dtype: int64

In [69]:
df.shape

(15961, 17)

### Drop duplication

In [71]:
# drop duplicate rows
df.drop_duplicates(inplace=True)

In [72]:
df.shape

(15651, 17)

### Import dataset for Belgium : postal code

we will clean this dataset and then we will merge it on  df

In [81]:
code_post=pd.read_csv('code-postaux-belge.csv',sep=';')
code_post.head()

,column_1,column_2,column_3,column_4,coordonnees,geom
0,1050,Ixelles,4.381571,50.822285,"50.8222854, 4.3815707",NaN
1,1081,Koekelberg,4.325708,50.862263,"50.8622633, 4.3257084",NaN
2,1130,Haren,4.412571,50.891966,"50.8919661, 4.41257087324",NaN
3,1150,Woluwe-Saint-Pierre,4.443297,50.829243,"50.8292429, 4.4432967",NaN
4,1315,Incourt,4.798944,50.691800,"50.6918004, 4.798944",NaN

In [84]:
code_post.shape

(2757, 6)

In [87]:
code_post.column_1.value_counts()

3700    19
4280    18
5600    17
5310    16
3840    15
        ..
9950     1
9960     1
1770     1
9970     1
6141     1
Name: column_1, Length: 1145, dtype: int64

In [88]:
#drop duplication
code_post.drop_duplicates(subset=['column_1'], inplace=True)
code_post.shape

(1145, 6)

In [96]:
code_post.column_1.value_counts()

6730    1
9571    1
1390    1
4430    1
7532    1
       ..
8906    1
6860    1
4820    1
4821    1
6142    1
Name: column_1, Length: 1145, dtype: int64

In [97]:
# rename and drop
code_post.rename(columns={"column_1": "location", "column_2": "city"}, inplace=True)
code_post.drop(columns=['column_3','column_4','coordonnees', 'geom'], inplace=True)
code_post

      location                 city
0         1050              Ixelles
1         1081           Koekelberg
2         1130                Haren
3         1150  Woluwe-Saint-Pierre
4         1315              Incourt
...        ...                  ...
2721      9551             Ressegem
2722      9552             Borsbeke
2748      9831               Deurle
2754      9932              Ronsele
2756      9980        Sint-Laureins

[1145 rows x 2 columns]

In [99]:
#merge 2 dataset for add name of city

df_merged=df.merge(code_post, on=['location'], how='inner', copy=True)

In [100]:
df_merged

,location,type,subtype,price,room_number,area,kitchen_equipped,furnished,fireplace,terrace,terrace_area,garden,garden_area,land_surface,facade_count,swimming_pool,building_condition,city
0,6800,HOUSE,HOUSE,295000,5,460,1,0,0,1,10.0,0,None,321.0,2,0,TO_BE_DONE_UP,Remagne
1,6800,HOUSE,HOUSE,175000,3,172,0,0,0,1,None,1,1000.0,1254.0,4,0,TO_RENOVATE,Remagne
2,6800,HOUSE,HOUSE,539000,5,596,1,0,1,1,38.0,1,1300.0,1500.0,4,0,AS_NEW,Remagne
3,6800,APARTMENT,APARTMENT,154000,2,62,0,0,0,1,6.0,0,None,0.0,4,0,No_information,Remagne
4,6800,APARTMENT,APARTMENT,179000,2,79,0,0,0,1,6.0,0,None,0.0,4,0,No_information,Remagne
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15646,4557,HOUSE,COUNTRY_COTTAGE,139000,2,81,1,0,0,0,None,1,350.0,443.0,3,0,TO_RENOVATE,Seny
15647,9881,HOUSE,HOUSE,499000,6,274,1,0,0,0,None,1,None,1036.0,3,0,TO_RENOVATE,Bellem
15648,6851,HOUSE,HOUSE,115000,4,160,0,0,0,1,None,1,None,1555.0,4,0,TO_RENOVATE,Nollevaux
15649,4342,HOUSE,HOUSE,210000,3,110,1,0,0,1,15.0,1,1200.0,1400.0,3,0,TO_BE_DONE_UP,Hognoul
15650,1981,HOUSE,VILLA,1085000,4,1307,1,0,1,1,100.0,1,1.0,1307.0,4,1,AS_NEW,Hofstade

## define function to find province and region from location ('postal code').

In [102]:
def province(locality):
    if 1000< locality < 1299:
        return "Brussels_Capital"
    elif 1300< locality < 1499:
        return "Walloon_Brabant"
    elif 1500< locality < 1999:
        return "Flemish_Brabant"
    elif 2000< locality < 2999:
        return "Antwerp"
    elif 3000< locality < 3499:
        return "Flemish_Brabant"
    elif 3500< locality < 3999:
        return "Limburg"
    elif 4000< locality < 4999:
        return "Liege"
    elif 5000< locality < 5999:
        return "Namur"
    elif 6000< locality < 6599:
        return "Hainaut"
    elif 6600< locality < 6999:
        return "Luxembourg"
    elif 7000< locality < 7999:
        return "Hainaut"
    elif 8000< locality < 8999:
        return "West_Flanders"
    elif 9000< locality < 9999:
        return "East_Flanders"

In [103]:
def region(province):
    if province == "Brussels_Capital":
        return "Brussels_Capital"
    elif province in ["Walloon_Brabant","Liege","Namur","Hainaut","Luxembourg"]:
        return "Wallonia" 
    else:
        return "Flanders"

use these functions to add 2 columns en dataset and then remove douplicate

In [106]:

df_merged['province'] = df_merged['location'].apply(province)

In [107]:
df_merged.drop_duplicates(inplace=True)

In [108]:
df_merged

,location,type,subtype,price,room_number,area,kitchen_equipped,furnished,fireplace,terrace,terrace_area,garden,garden_area,land_surface,facade_count,swimming_pool,building_condition,city,province
0,6800,HOUSE,HOUSE,295000,5,460,1,0,0,1,10.0,0,None,321.0,2,0,TO_BE_DONE_UP,Remagne,Luxembourg
1,6800,HOUSE,HOUSE,175000,3,172,0,0,0,1,None,1,1000.0,1254.0,4,0,TO_RENOVATE,Remagne,Luxembourg
2,6800,HOUSE,HOUSE,539000,5,596,1,0,1,1,38.0,1,1300.0,1500.0,4,0,AS_NEW,Remagne,Luxembourg
3,6800,APARTMENT,APARTMENT,154000,2,62,0,0,0,1,6.0,0,None,0.0,4,0,No_information,Remagne,Luxembourg
4,6800,APARTMENT,APARTMENT,179000,2,79,0,0,0,1,6.0,0,None,0.0,4,0,No_information,Remagne,Luxembourg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15646,4557,HOUSE,COUNTRY_COTTAGE,139000,2,81,1,0,0,0,None,1,350.0,443.0,3,0,TO_RENOVATE,Seny,Liege
15647,9881,HOUSE,HOUSE,499000,6,274,1,0,0,0,None,1,None,1036.0,3,0,TO_RENOVATE,Bellem,East_Flanders
15648,6851,HOUSE,HOUSE,115000,4,160,0,0,0,1,None,1,None,1555.0,4,0,TO_RENOVATE,Nollevaux,Luxembourg
15649,4342,HOUSE,HOUSE,210000,3,110,1,0,0,1,15.0,1,1200.0,1400.0,3,0,TO_BE_DONE_UP,Hognoul,Liege
15650,1981,HOUSE,VILLA,1085000,4,1307,1,0,1,1,100.0,1,1.0,1307.0,4,1,AS_NEW,Hofstade,Flemish_Brabant

In [109]:
df.shape

(15651, 17)

In [110]:
df_merged['region'] =df_merged['province'].apply(region)

In [111]:
df_merged

,location,type,subtype,price,room_number,area,kitchen_equipped,furnished,fireplace,terrace,terrace_area,garden,garden_area,land_surface,facade_count,swimming_pool,building_condition,city,province,region
0,6800,HOUSE,HOUSE,295000,5,460,1,0,0,1,10.0,0,None,321.0,2,0,TO_BE_DONE_UP,Remagne,Luxembourg,Wallonia
1,6800,HOUSE,HOUSE,175000,3,172,0,0,0,1,None,1,1000.0,1254.0,4,0,TO_RENOVATE,Remagne,Luxembourg,Wallonia
2,6800,HOUSE,HOUSE,539000,5,596,1,0,1,1,38.0,1,1300.0,1500.0,4,0,AS_NEW,Remagne,Luxembourg,Wallonia
3,6800,APARTMENT,APARTMENT,154000,2,62,0,0,0,1,6.0,0,None,0.0,4,0,No_information,Remagne,Luxembourg,Wallonia
4,6800,APARTMENT,APARTMENT,179000,2,79,0,0,0,1,6.0,0,None,0.0,4,0,No_information,Remagne,Luxembourg,Wallonia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15646,4557,HOUSE,COUNTRY_COTTAGE,139000,2,81,1,0,0,0,None,1,350.0,443.0,3,0,TO_RENOVATE,Seny,Liege,Wallonia
15647,9881,HOUSE,HOUSE,499000,6,274,1,0,0,0,None,1,None,1036.0,3,0,TO_RENOVATE,Bellem,East_Flanders,Flanders
15648,6851,HOUSE,HOUSE,115000,4,160,0,0,0,1,None,1,None,1555.0,4,0,TO_RENOVATE,Nollevaux,Luxembourg,Wallonia
15649,4342,HOUSE,HOUSE,210000,3,110,1,0,0,1,15.0,1,1200.0,1400.0,3,0,TO_BE_DONE_UP,Hognoul,Liege,Wallonia
15650,1981,HOUSE,VILLA,1085000,4,1307,1,0,1,1,100.0,1,1.0,1307.0,4,1,AS_NEW,Hofstade,Flemish_Brabant,Flanders

In [112]:
df_merged.drop_duplicates(inplace=True)

In [113]:
df_merged

,location,type,subtype,price,room_number,area,kitchen_equipped,furnished,fireplace,terrace,terrace_area,garden,garden_area,land_surface,facade_count,swimming_pool,building_condition,city,province,region
0,6800,HOUSE,HOUSE,295000,5,460,1,0,0,1,10.0,0,None,321.0,2,0,TO_BE_DONE_UP,Remagne,Luxembourg,Wallonia
1,6800,HOUSE,HOUSE,175000,3,172,0,0,0,1,None,1,1000.0,1254.0,4,0,TO_RENOVATE,Remagne,Luxembourg,Wallonia
2,6800,HOUSE,HOUSE,539000,5,596,1,0,1,1,38.0,1,1300.0,1500.0,4,0,AS_NEW,Remagne,Luxembourg,Wallonia
3,6800,APARTMENT,APARTMENT,154000,2,62,0,0,0,1,6.0,0,None,0.0,4,0,No_information,Remagne,Luxembourg,Wallonia
4,6800,APARTMENT,APARTMENT,179000,2,79,0,0,0,1,6.0,0,None,0.0,4,0,No_information,Remagne,Luxembourg,Wallonia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15646,4557,HOUSE,COUNTRY_COTTAGE,139000,2,81,1,0,0,0,None,1,350.0,443.0,3,0,TO_RENOVATE,Seny,Liege,Wallonia
15647,9881,HOUSE,HOUSE,499000,6,274,1,0,0,0,None,1,None,1036.0,3,0,TO_RENOVATE,Bellem,East_Flanders,Flanders
15648,6851,HOUSE,HOUSE,115000,4,160,0,0,0,1,None,1,None,1555.0,4,0,TO_RENOVATE,Nollevaux,Luxembourg,Wallonia
15649,4342,HOUSE,HOUSE,210000,3,110,1,0,0,1,15.0,1,1200.0,1400.0,3,0,TO_BE_DONE_UP,Hognoul,Liege,Wallonia
15650,1981,HOUSE,VILLA,1085000,4,1307,1,0,1,1,100.0,1,1.0,1307.0,4,1,AS_NEW,Hofstade,Flemish_Brabant,Flanders

## save our cleaned dataset as a csv file

In [114]:
df_merged.to_csv('cleaneddata1.csv')